---
import { Config } from "../constants";
import { getLangHomeUrl } from "../utils/i18n-utils";

const target = getLangHomeUrl(Config.i18n.defaultLang);
const htmlLang = Config.i18n.defaultLang;
---

<!DOCTYPE html>
<html lang={htmlLang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content="noindex, follow" />
		<link rel="canonical" href={target} />
		<meta http-equiv="refresh" content={`0;url=${target}`} />
		<script is:inline define:vars={{ target }}>
			location.replace(target);
		</script>
	</head>
	<body>
		<a href={target}>Continue</a>
	</body>
</html>
